*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
	color: #eee;
}

body{
	width: 100%;
	height: 100%;
	background: url("img/back.jfif") no-repeat center fixed;
	background-size: cover;
}

section{
	padding: 6rem 0;
}

a{
	text-decoration: none;
	color: #eee;
}

p{
	font-size: 1.8rem;
	font-weight: 300;
}

img{
	width: 100%;
}

/*this was for global*/

/*Header*/
header{
	width: 100%;
	height: 100vh;
}

.top-nav{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: -100vh;
	z-index: 50;
	background-color: #16162d;
	border-bottom-right-radius: 100%
	transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list{
	list-style: none;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

li{
	margin: 0.2rem;
}

.nav-link{
	font-family: 'Fugaz One', cursive;
	font-size: 4rem;
	padding: 1rem;
}

.nav-link:hover,
.nav-link:focus{
	background: linear-gradient(to top, #ffe838, #fd57bf);
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
}

.top-nav.open{
	top: 0;
	border-radius: initial;
}

.menu-toggler{
	position: absolute;
	top: 5rem;
	right: 5rem;
	width: 5rem;
	height: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	z-index: 1500;
	transition: transform 650ms ease-out;
}

.menu-toggler-open{
	transform: rotate(-45deg);
}

.bar{
	background: linear-gradient(to right, #ffe838, #fd57bf);
	width: 100%;
	height: 4px;
	border-radius: .8rem; 
}

.bar.half{
	width: 50%;
}

.bar.start{
	transform-origin: right;
	transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start{
	transform: rotate(-450deg) translateX(.8rem);
}

.bar.end{
	align-self: flex-end;
	transform-origin: left;
	transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end{
	transform: rotate(-450deg) translateX(-.8rem);
}

.landing-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
	z-index: -1;
}

.landing-text h1{
	font-size: 7.5rem;
	font-family: 'Fugaz One', cursive;
	background: linear-gradient(to top, #ffe838, #fd57bf);
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
	padding: 1rem;
	user-select: none;
}

.landing-text h6{
	font-family: 'Fugaz One', cursive;
	font-size: 3.3rem;
	font-weight: 300;
	color: #d8d8d8;
}



/*Styling the gallery*/
.gallery h1, h4{
	font-family: 'Fugaz One', cursive;
	text-align: center;
	padding: 1rem;
}
.gallery h1{
	margin-top: 1rem;
	font-size: 6rem;
	background: linear-gradient(to top, #ffe838, #fd57bf);
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
	padding: 1rem;
	user-select: none;
}
.gallery h4{
	font-size: 2.2rem;
	color: #d8d8d8;
}
.gallery h5{
	font-size: 2rem;
}

/*features*/
.features{
	padding: 100px 0;
}

.features h1{
	font-family: 'Fugaz One', cursive;
	font-size: 5rem;
	text-align: center;
	padding: 30px;
	background: linear-gradient(to top, #ffe838, #fd57bf);
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
	padding: 1rem;
	user-select: none;
}

.feature-img img{
	width: 100%;
}

.price{
	width: 50px;
	height: 50px;
	background: #ff5722;
	color: #fff;
	font-weight: 600;
	border-radius: 50%;
	padding: 10px;
	box-shadow: 0 0 10px 1px rgba(37, 73, 214, .18);
	position: absolute;
	left: 28px;
	bottom: -25px;
}
.feature-img{
	position: relative;
}

.rating{
	padding: 3px;
	float: right;
	background: #fff;
	bottom: -1px;
	right: 0;
	position: absolute;
}
.features .fa{
	font-size: 12px;
	color: #ff5722;
}

.feature-deatails{
	color: white;
	padding: 20px;
	text-align: justify;
}
.feature-deatails h4{
	font-weight: 500;
	margin-top: 20px;
}

.feature-deatails .fa{
	margin-right: 5px;
}

.modal-body{
	font-family: 'Comic Sans MT', cursive;
	color: black;
	overflow: auto;
}

.modal-title{
	color: black;
	font-size: 2rem;
}

/*Map*/
.box h3{
	font-family: 'Fugaz One', cursive;
	font-size: 2rem;
	color: #fd57bf;
}
/*
#map{
	padding: 100px 0;
	font-family: 'Fugaz One', cursive;
	text-align: justify;
	padding: 1rem;

}*/

#map h1{
	font-family: 'Fugaz One', cursive;
	text-align: center;
	padding: 1rem;
	margin-top: 1rem;
	font-size: 6rem;
	background: linear-gradient(to top, #ffe838, #fd57bf);
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
	padding: 1rem;
	user-select: none;
}


/*Shopping*/
.shopping h1, h4{
	font-family: 'Fugaz One', cursive;
	text-align: center;
	padding: 1rem;
}
.shopping h1{
	margin-top: 1rem;
	font-size: 6rem;
	background: linear-gradient(to top, #ffe838, #fd57bf);
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
	padding: 1rem;
	user-select: none;
}
.shopping h4{
	font-size: 2.2rem;
	color: #d8d8d8;
}
.card-title{
	font-size: 2.5rem;
}

.card-text{
	text-decoration: bold;
	font-weight: 400;
	color: black;
}

/*Feedback*/
.user-feedback{
	padding: 100px 0;
}
.user-feedback h1, h5{
	font-family: 'Fugaz One', cursive;
	text-align: center;
	padding: 1rem;
}
.user-feedback h5{
	font-size: 2.3rem;
	padding-bottom: 1.5rem;
}

.user-feedback h1{
	margin-top: 1rem;
	font-size: 5rem;
	background: linear-gradient(to top, #ffe838, #fd57bf);
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
	padding: 1rem;
	user-select: none;
}

.user-review{
	text-align: center;
	border: 20px;
	box-shadow: 0 0 10px 0 #ffe838;
	color: #d8d8d8;
}
.user2{
	box-shadow: 0 0 10px 0 #fd57bf;
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05); 
}
.user-review p{
	padding: 50px 10px 10px 10px;
}
.user-feedback img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: relative;
	margin: -30px 0 20px 40%;
}
.user-review::before{
	content: '\201d';
	display: block;
	position: absolute;
	font-size: 100px;
	color: #ffe838;
	font-family: 'Fugaz One', cursive;
	left: 44%;
	top: -20px;
}
.user2::before{
	color: #fd57bf;
}

/*Footer*/
.footer{
	padding: 100px 0;
	background-image: linear-gradient(#0f0c29, #302b63);
	color: -20px;
	color: white;
}

.footer-logo{
	width: 100px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#watermark{
	font-family: 'Fugaz One', cursive;
	text-align: center;
	color: #d8d8d8;
}
.footer h4{
	font-size: 2rem;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 25px;
	color: #d8d8d8;
}
.footer p{
	font-size: 12px;
	text-align: justify;
	padding-right: 20px;
	text-align: center;
	color: #d8d8d8;
}

.footer .row .fa .fab{
	padding-right: 20px;
	font-size: 15px;
}

.copyright{
	font-family: 'Fugaz One', cursive;
	width: 100%;
	text-align: center;
	background-color: #16162d;
	padding: 2rem 0;
	position: relative;
	user-select: none;
}

.copyright:hover{
	background: linear-gradient(to top, #ffe838, #fd57bf);
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
}



@media screen and (max-width: 768px){
	body{
		background: url("img/back.jfif") no-repeat center fixed;
		background-size: cover;
	}
	.nav-list{
		flex-direction: column;
	}
	li{
		margin: 2rem 0;
	}
	.nav-link{
		font-size: 4.5rem;
	}
}